<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Log In</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="login">
    <div class="form">
        <button onclick="window.location.href='/'" > Back </button>
        <h2>Log In</h2>
        <form method="POST" action="/login">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <p>Don't have an account? <a href="/register">Register here</a></p>
            <input type="submit" value="Log In" onclick="window.location.href='/login-post'">
        </form>
        
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>